body {
    color: rgb(0, 255, 128); /* Verde vibrante */
    background: rgb(25, 0, 51); /* Roxo escuro */
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(0, 255, 128); /* Verde */
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 255, 128); /* Verde */
}

section {
    background: rgb(60, 0, 90); /* Roxo médio */
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
    color: rgb(144, 255, 200); /* Verde claro */
}

p {
    font-size: 20px;
    color: rgb(0, 255, 128); /* Verde */
}
